@{
    
    var mixRequest = Request.Params["x0"];
    var mix = 0;
    var x0Clear = int.TryParse(mixRequest, out mix);
    var x0ErrorMessage = "x0 is not correct!";
    
    var mxRequest = Request.Params["x1"];
    var mx = 10;
    var x1Clear = int.TryParse(mxRequest, out mx);
    var x1ErrorMessage = "x1 is not correct!";
}
<html>
<head>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
        @if (!x0Clear)
        {
            Response.Write(String.Format("alert({0});", x0ErrorMessage));
        }
        @if (!x1Clear)
        {
            Response.Write(String.Format("alert({0});", x1ErrorMessage));
        }

        google.setOnLoadCallback(drawChart);
      
        function drawChart() {
            var qrStr = window.location.search;
            var spQrStr = qrStr.substring(1);
            var arrQrStr = new Array();
            var arr = spQrStr.split('&');
            var e = "error";
            for (var i = 0; i < arr.length; i++) {
                var queryvalue = arr[i].split('=');
                if(queryvalue[0] == "f")
                    e = queryvalue[1];
            }

            function urfunc(a) {
                var x = a;
                var exp = e;
                exp = exp.replace(/pow/g, "Math.pow");
                exp = exp.replace(/sin/g, "Math.sin");
                exp = exp.replace(/cos/g, "Math.cos");
                exp = exp.replace(/abs/g, "Math.abs");
                exp = exp.replace(/tg/g, "Math.tan");
                exp = exp.replace(/tan/g, "Math.tan");
                exp = exp.replace(/pi/g, "Math.PI");
                var expression = new String(exp);
                return eval(expression.toString());
            }

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', e);

            minx = @mix;
            maxx = @mx;
            for (var i = minx; i < maxx; i += 0.1) {
                data.addRow([i, urfunc(i)]);
            }

            var options = {
                title: 'The graph of your function',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <p>Please, input your function f(x) and an interval (x0, x1)</p>
    <p>For example: http://myappapmath.azurewebsites.net/?f=2*pow(x,2)*sin(x)&x0=0&x1=10 </p>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>